.col-lg-6wowfadeInUp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: 110px;
}
#tombollangganan {
  padding-top: 100px;
  display: block;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
