#fotolangganan {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#tombollangganan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 780px){
  #fotolangganan {
    display: block;
    margin-left: auto;
  }
  #tombollangganan {
    padding-top: 100px;
    display: block;
    width: auto;
    margin-left: auto;
}
}